/* ----------------------------- */
/* VARIABLES Y ROOT              */
/* ----------------------------- */
:root {
  /* Colores */
  --bg: #0f0f12;          /* fondo principal */
  --bg-soft: #16171b;     /* tarjetas y bloques */
  --text: #f5f5f7;        /* texto principal */
  --muted: #b6b6c2;       /* texto secundario */
  --accent: #ff2e88;      /* rosa principal */
  --accent-2: #ff6aa9;    /* rosa aclarado para degradados */
  --card: #121317;
  --border: #262730;
  --success: #8bdb2f;

  /* Tipografías */
  --font-primary: 'Montserrat', sans-serif;
  --font-second: 'Poppins', sans-serif;
}

/* ----------------------------- */
/* RESET Y BASE                  */
/* ----------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary) !important;
  line-height: 1.6;
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
}

a {  
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

ul {
  list-style: none;
}

/* ----------------------------- */
/* UTILITARIOS                   */
/* ----------------------------- */
.container {
  width: min(1120px, 92%);
  margin-inline: auto;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: var(--muted);
}

/* ----------------------------- */
/* BOTONES                       */
/* ----------------------------- */

.btn {
  align-items: center;
  justify-content: center;
  padding: 10px 22px;
  font-family: var(--font-second);
  font-weight: 500;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.btn:hover {
  color: var(--accent);
}

.btn.solid {
  background: var(--accent);
  color: var(--text);
  border-radius: 20px;
  border: 1px solid transparent;
}

.btn.solid:hover {
  background: transparent;
  color: var(--accent);
  border: 1px solid var(--accent);
}

.btn.outline {
  background: transparent;
  color: var(--accent);
  border: 1px solid var(--accent);
}

.btn.outline:hover {
  background: var(--accent);
  color: var(--text);
}


.btn_simple {
  padding: 10px 22px;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: var(--font-second);
}

.btn_simple:hover {
  color: var(--accent);
}
